@import "/css/normalize.css";

body{
    
    margin:0 auto;
    min-height:100vh;
    width:100%;
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(45deg, #259ACE 0%, #4DA475 50%, #AAC523 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_city{
    margin:25px;
    border-radius: 10px;
    label{
        font-size: 18px;
        font-weight: bold;
    }
    button{
        font-size: 24px;
        margin-top:5px;
        margin-bottom:10px;
        background-color: lightblue;
        border: none;
        border-radius: 10px;
    }
    button:hover{
        background-color: lightgray;
        cursor: pointer;
    }
    #city{
        background-color: rgba(0,0,0,0);
        border: none;
        border-bottom: 1px solid white;
        width:150px;
    }
    #city:focus{
       outline: none;
    }
    #my_location{
        margin-top:10px;
    }
    #error {
        font-size: 20px;
        font-weight: bold;
        margin-top:20px;
        color:black;
        border-bottom:1px solid red;
    }
}
.current_block{

    border-radius: 10px;
    background-color:lightblue;
    margin:25px;
    padding:5px;
    max-width:260px;
    &__city{

        h2{
            font-size: 22px;
            margin:5px;
        }
  
    }
    &__icon_temperature{
        display: flex;

        
        .temperature{
            margin-top:10px;
            font-size: 24px;
            font-weight: bold;
        }
    }
    &__weather_date {
        margin-bottom:5px;
        a {
            color: red;
            text-decoration: none;
        }
        p{
            margin:10px;
        }
        .date{
          margin-left:10px;  
        }
    }
    &__info{
        border-collapse: collapse;
        td{
        border:1px solid black;
        padding:5px;
        background-color: whitesmoke;
            
        }
    }
    
}

img {
    width: 50px;
    height: 50px;
}
.heading{
    margin-left:25px;
}
.days_block{
    max-width:500px;
    width:100%;
    margin: 0px 5px 0px 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    &__header{
        background-color: lightgoldenrodyellow;
        padding:5px;
    }

    &__main{
        padding:5px;
        display:flex;
        justify-content: space-around;    
        background-color: lightblue;
        border-bottom:1px solid lightgoldenrodyellow;

        .time_icon{
            display: flex;
            align-items: center;
            .time{
                margin-right:5px;
            }
        }

        .temperature_weather {
            line-height: 20px;
            margin:0;
            display:grid;
            grid-template-columns: 50px 200px;
            .temperature{
                text-align: center;
                display: inline-block;
                width:50px;
                font-size:14px;
                color:white;
                background-color: grey;
                border-radius: 10px;
            }
            .weather{
                margin-left:20px;
                font-style: italic;
            }
        }
        .wind_clouds_pressure{
            line-height: 20px;

            margin:0;
        }
        
    }
}
